@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
    color: white;
    font-family: 'DM Sans', sans-serif;
    background-color: #262626;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.align {
    text-align: center;
}
