@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
    color: white;
    font-family: 'DM Sans', sans-serif;
    background-color: #262626;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.align-center {
    text-align: center;
}

div {
    padding: 0px 5px 0px 5px;
}

.toggle {
  position: relative;
  box-sizing: border-box;
}

.toggle input[type="checkbox"] {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.toggle label {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.toggle label:before {
  content: '';
  width: 84px;
  height: 42px;
  position: relative;
  display: inline-block;
  background: #000;
  border-radius: 46px;
  border: 4px solid #FFF;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.toggle label:after {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  left: 10px;
  top: 12px;
  z-index: 2;
  background: #000;
  box-sizing: border-box;
  transition: 0.2s ease-in;
}

.toggle input[type="checkbox"]:checked + label:before {
  background: #000;
}

.toggle input[type="checkbox"]:checked + label:after {
  left: 58px;
  background: #FFF;
}
